<a href="https://colab.research.google.com/github/eleven111101/Random_Forest-ML/blob/main/Weather_Australia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
print("hello_Digi")

hello_Digi

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df=pd.read_csv("/content/weatherAUS.csv")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [46]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [47]:
df.shape

(145460, 23)

In [48]:
df.nunique().sort_values(ascending=False)

Date             3436
Rainfall          681
Pressure3pm       549
Pressure9am       546
MaxTemp           505
Temp3pm           502
Temp9am           441
MinTemp           389
Evaporation       358
Sunshine          145
Humidity9am       101
Humidity3pm       101
WindGustSpeed      67
Location           49
WindSpeed3pm       44
WindSpeed9am       43
WindDir3pm         16
WindDir9am         16
WindGustDir        16
Cloud9am           10
Cloud3pm           10
RainToday           2
RainTomorrow        2
dtype: int64

In [49]:
df["RainToday"].unique()

array(['No', 'Yes', nan], dtype=object)

In [50]:
df["RainTomorrow"].unique()

array(['No', 'Yes', nan], dtype=object)

In [51]:
df["RainTomorrow"]=df["RainTomorrow"].map({"Yes":1,"No":0})

In [52]:
df["RainToday"]=df["RainToday"].map({"Yes":1,"No":0})

In [53]:
df[df["RainTomorrow"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,2008-12-15,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,0.0,NaN
283,2009-09-10,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,0.0,NaN
435,2010-02-09,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,0.0,NaN
437,2010-02-11,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,0.0,NaN
443,2010-02-17,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,2016-02-07,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,0.0,NaN
145091,2016-06-22,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,0.0,NaN
145092,2016-06-23,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,2017-02-21,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,0.0,NaN
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,0.0,NaN

In [54]:
df=df[df["RainTomorrow"].notnull()]

In [55]:
df[df["RainToday"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
15,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0
284,2009-09-11,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1,NaN,0.0
436,2010-02-10,Albury,21.7,35.6,NaN,NaN,NaN,SSW,46.0,NaN,...,64.0,28.0,1018.8,1014.7,NaN,4.0,25.2,32.9,NaN,0.0
438,2010-02-12,Albury,22.5,29.1,NaN,NaN,NaN,SW,24.0,NaN,...,81.0,67.0,1008.5,1007.8,NaN,7.0,23.4,26.4,NaN,0.0
444,2010-02-18,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144938,2016-01-21,Uluru,22.4,37.0,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,40.0,1010.9,1006.2,4.0,NaN,25.1,35.7,NaN,1.0
144951,2016-02-03,Uluru,20.6,32.6,NaN,NaN,NaN,S,39.0,SE,...,50.0,32.0,1011.5,1008.7,NaN,NaN,22.6,30.0,NaN,0.0
144956,2016-02-08,Uluru,23.8,38.3,NaN,NaN,NaN,NaN,NaN,ESE,...,27.0,16.0,1015.2,1010.8,NaN,NaN,30.6,36.1,NaN,0.0
145093,2016-06-24,Uluru,3.2,17.9,NaN,NaN,NaN,E,44.0,SE,...,83.0,39.0,1022.4,1019.0,NaN,NaN,8.8,17.2,NaN,0.0
145336,2017-02-22,Uluru,16.1,38.0,NaN,NaN,NaN,SSW,35.0,SSW,...,30.0,16.0,1011.4,1008.6,NaN,NaN,27.7,36.4,NaN,0.0

In [56]:
df[df["RainToday"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
15,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0
284,2009-09-11,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1,NaN,0.0
436,2010-02-10,Albury,21.7,35.6,NaN,NaN,NaN,SSW,46.0,NaN,...,64.0,28.0,1018.8,1014.7,NaN,4.0,25.2,32.9,NaN,0.0
438,2010-02-12,Albury,22.5,29.1,NaN,NaN,NaN,SW,24.0,NaN,...,81.0,67.0,1008.5,1007.8,NaN,7.0,23.4,26.4,NaN,0.0
444,2010-02-18,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144938,2016-01-21,Uluru,22.4,37.0,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,40.0,1010.9,1006.2,4.0,NaN,25.1,35.7,NaN,1.0
144951,2016-02-03,Uluru,20.6,32.6,NaN,NaN,NaN,S,39.0,SE,...,50.0,32.0,1011.5,1008.7,NaN,NaN,22.6,30.0,NaN,0.0
144956,2016-02-08,Uluru,23.8,38.3,NaN,NaN,NaN,NaN,NaN,ESE,...,27.0,16.0,1015.2,1010.8,NaN,NaN,30.6,36.1,NaN,0.0
145093,2016-06-24,Uluru,3.2,17.9,NaN,NaN,NaN,E,44.0,SE,...,83.0,39.0,1022.4,1019.0,NaN,NaN,8.8,17.2,NaN,0.0
145336,2017-02-22,Uluru,16.1,38.0,NaN,NaN,NaN,SSW,35.0,SSW,...,30.0,16.0,1011.4,1008.6,NaN,NaN,27.7,36.4,NaN,0.0

In [57]:
df["RainToday"].mode()[0]

0.0

In [58]:
df["RainToday"]=df["RainToday"].fillna(df["RainToday"].mode()[0])

In [59]:
df.isnull().sum().sort_values(ascending=False)

Sunshine         67816
Evaporation      60843
Cloud3pm         57094
Cloud9am         53657
Pressure9am      14014
Pressure3pm      13981
WindDir9am       10013
WindGustDir       9330
WindGustSpeed     9270
WindDir3pm        3778
Humidity3pm       3610
Temp3pm           2726
WindSpeed3pm      2630
Humidity9am       1774
Rainfall          1406
WindSpeed9am      1348
Temp9am            904
MinTemp            637
MaxTemp            322
RainToday            0
Date                 0
Location             0
RainTomorrow         0
dtype: int64

In [60]:
df.shape

(142193, 23)

In [61]:
df=df[df.isnull().sum(axis=1)<6]

In [62]:
df.shape

(127304, 23)

In [63]:
cols = [
    'MinTemp',
    'MaxTemp',
    'Rainfall',
    'Evaporation',
    'Sunshine',
    'WindGustSpeed',
    'WindSpeed9am',
    'WindSpeed3pm',
    'Humidity9am',
    'Humidity3pm',
    'Pressure9am',
    'Pressure3pm',
    'Cloud9am',
    'Cloud3pm',
    'Temp9am',
    'Temp3pm'
]

In [64]:
for col in cols:
    df[col] = df[col].fillna(df[col].mean())

<ipython-input-64-310ac9b2d180>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].mean())

In [65]:
df["WindDir9am"].mode()[0]

'N'

In [66]:
cat_cols = ["WindDir9am", "WindDir3pm","WindGustDir"]

In [67]:
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode())

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127304 entries, 0 to 145458
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           127304 non-null  object
 1   Location       127304 non-null  object
 2   MinTemp        127304 non-null  float64
 3   MaxTemp        127304 non-null  float64
 4   Rainfall       127304 non-null  float64
 5   Evaporation    127304 non-null  float64
 6   Sunshine       127304 non-null  float64
 7   WindGustDir    122915 non-null  object
 8   WindGustSpeed  127304 non-null  float64
 9   WindDir9am     120664 non-null  object
 10  WindDir3pm     126691 non-null  object
 11  WindSpeed9am   127304 non-null  float64
 12  WindSpeed3pm   127304 non-null  float64
 13  Humidity9am    127304 non-null  float64
 14  Humidity3pm    127304 non-null  float64
 15  Pressure9am    127304 non-null  float64
 16  Pressure3pm    127304 non-null  float64
 17  Cloud9am       127304 non-null  float64
 18  Cloud3pm       127304 non-null  float64
 19  Temp9am        127304 non-null  float64
 20  Temp3pm        127304 non-null  float64
 21  RainToday      127304 non-null  float64
 22  RainTomorrow   127304 non-null  float64
dtypes: float64(18), object(5)
memory usage: 23.3+ MB

In [69]:
 df["Date"]=pd.to_datetime(df["Date"])

In [70]:
df["Year"]=df["Date"].dt.year

In [71]:
df["Month"]=df["Date"].dt.month

In [72]:
df["Day"]=df["Date"].dt.day

In [73]:
df.drop("Date",axis=1,inplace=True)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127304 entries, 0 to 145458
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       127304 non-null  object
 1   MinTemp        127304 non-null  float64
 2   MaxTemp        127304 non-null  float64
 3   Rainfall       127304 non-null  float64
 4   Evaporation    127304 non-null  float64
 5   Sunshine       127304 non-null  float64
 6   WindGustDir    122915 non-null  object
 7   WindGustSpeed  127304 non-null  float64
 8   WindDir9am     120664 non-null  object
 9   WindDir3pm     126691 non-null  object
 10  WindSpeed9am   127304 non-null  float64
 11  WindSpeed3pm   127304 non-null  float64
 12  Humidity9am    127304 non-null  float64
 13  Humidity3pm    127304 non-null  float64
 14  Pressure9am    127304 non-null  float64
 15  Pressure3pm    127304 non-null  float64
 16  Cloud9am       127304 non-null  float64
 17  Cloud3pm       127304 non-null  float64
 18  Temp9am        127304 non-null  float64
 19  Temp3pm        127304 non-null  float64
 20  RainToday      127304 non-null  float64
 21  RainTomorrow   127304 non-null  float64
 22  Year           127304 non-null  int32
 23  Month          127304 non-null  int32
 24  Day            127304 non-null  int32
dtypes: float64(18), int32(3), object(4)
memory usage: 23.8+ MB

In [81]:
dummy_cols=["Location","WindGustDir","WindDir9am","WindDir3pm","Year", "Month", "Day"]

KeyError: 'Location'

In [80]:
for col in dummy_cols:
    dummies = pd.get_dummies(df[col],prefix=col,drop_first=True)
    df = pd.concat([df,dummies],axis=1)
    df = df.drop(col,axis=1)

KeyError: 'WindGustDir'