<a href="https://colab.research.google.com/github/eleven111101/Random_Forest-ML/blob/main/Weather_Australia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
print("hello_Digi")

hello_Digi

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
df=pd.read_csv("/content/weatherAUS.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43371 entries, 0 to 43370
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           43371 non-null  object
 1   Location       43370 non-null  object
 2   MinTemp        42854 non-null  float64
 3   MaxTemp        42990 non-null  float64
 4   Rainfall       42156 non-null  float64
 5   Evaporation    22215 non-null  float64
 6   Sunshine       16920 non-null  float64
 7   WindGustDir    38232 non-null  object
 8   WindGustSpeed  38237 non-null  float64
 9   WindDir9am     38632 non-null  object
 10  WindDir3pm     41203 non-null  object
 11  WindSpeed9am   42491 non-null  float64
 12  WindSpeed3pm   41860 non-null  float64
 13  Humidity9am    42664 non-null  float64
 14  Humidity3pm    42003 non-null  float64
 15  Pressure9am    36657 non-null  float64
 16  Pressure3pm    36671 non-null  float64
 17  Cloud9am       26262 non-null  float64
 18  Cloud3pm       25970 non-null  float64
 19  Temp9am        42900 non-null  float64
 20  Temp3pm        42237 non-null  float64
 21  RainToday      42156 non-null  object
 22  RainTomorrow   42157 non-null  object
dtypes: float64(16), object(7)
memory usage: 7.6+ MB

In [44]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
MinTemp,42854.0,13.137604,5.804873,-4.8,8.9,13.7,17.8,29.7
MaxTemp,42990.0,23.854027,6.027769,6.3,19.4,23.3,27.5,47.3
Rainfall,42156.0,2.684602,9.367318,0.0,0.0,0.0,0.8,371.0
Evaporation,22215.0,5.621873,4.575636,0.0,2.8,4.6,7.4,145.0
Sunshine,16920.0,7.583688,3.829433,0.0,4.8,8.7,10.5,14.1
WindGustSpeed,38237.0,38.649162,13.812081,7.0,30.0,37.0,46.0,135.0
WindSpeed9am,42491.0,13.022640,9.054741,0.0,6.0,13.0,19.0,130.0
WindSpeed3pm,41860.0,17.769517,9.350373,0.0,11.0,17.0,24.0,83.0
Humidity9am,42664.0,69.981624,17.464015,3.0,58.0,71.0,83.0,100.0
Humidity3pm,42003.0,52.151418,20.499694,1.0,37.0,52.0,67.0,100.0
Pressure9am,36657.0,1018.278820,6.701465,980.5,1013.8,1018.4,1022.8,1039.9
Pressure3pm,36671.0,1015.725453,6.650942,979.0,1011.2,1015.8,1020.2,1037.0
Cloud9am,26262.0,4.327469,2.922437,0.0,1.0,5.0,7.0,9.0
Cloud3pm,25970.0,4.409973,2.703805,0.0,2.0,5.0,7.0,8.0
Temp9am,42900.0,17.681289,5.401104,0.0,13.8,18.2,21.7,37.7
Temp3pm,42237.0,22.385442,5.862578,6.0,18.1,21.8,25.9,46.7

In [45]:
df.shape

(43371, 23)

In [46]:
df.nunique().sort_values(ascending=False)

Date             3345
Rainfall          506
Pressure3pm       447
Pressure9am       444
MaxTemp           389
Temp3pm           384
Temp9am           358
MinTemp           329
Evaporation       286
Sunshine          142
Humidity3pm       100
Humidity9am        97
WindGustSpeed      62
WindSpeed9am       42
WindSpeed3pm       40
WindDir3pm         16
WindDir9am         16
WindGustDir        16
Location           15
Cloud9am           10
Cloud3pm            9
RainToday           2
RainTomorrow        2
dtype: int64

In [47]:
df["RainToday"].unique()

array(['No', 'Yes', nan], dtype=object)

In [48]:
df["RainTomorrow"].unique()

array(['No', 'Yes', nan], dtype=object)

In [49]:
df["RainTomorrow"]=df["RainTomorrow"].map({"Yes":1,"No":0})

In [50]:
df["RainToday"]=df["RainToday"].map({"Yes":1,"No":0})

In [51]:
df[df["RainTomorrow"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,2008-12-15,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,0.0,NaN
283,2009-09-10,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,0.0,NaN
435,2010-02-09,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,0.0,NaN
437,2010-02-11,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,0.0,NaN
443,2010-02-17,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43168,2010-08-14,Wollongong,9.7,19.6,0.0,NaN,NaN,NaN,NaN,NNW,...,69.0,50.0,1014.4,1008.4,NaN,NaN,14.6,18.9,0.0,NaN
43178,2010-08-24,Wollongong,12.0,19.1,0.0,NaN,NaN,NaN,NaN,SW,...,47.0,30.0,1011.8,1007.9,NaN,2.0,15.1,19.0,0.0,NaN
43235,2010-10-20,Wollongong,12.6,20.0,0.0,NaN,NaN,NaN,NaN,E,...,70.0,65.0,1028.7,1025.5,1.0,NaN,17.3,19.0,0.0,NaN
43282,2010-12-06,Wollongong,NaN,NaN,14.8,NaN,NaN,NaN,NaN,S,...,NaN,NaN,1015.2,1014.1,8.0,NaN,NaN,NaN,1.0,NaN
43370,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df=df[df["RainTomorrow"].notnull()]

In [53]:
df[df["RainToday"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
15,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0
284,2009-09-11,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1,NaN,0.0
436,2010-02-10,Albury,21.7,35.6,NaN,NaN,NaN,SSW,46.0,NaN,...,64.0,28.0,1018.8,1014.7,NaN,4.0,25.2,32.9,NaN,0.0
438,2010-02-12,Albury,22.5,29.1,NaN,NaN,NaN,SW,24.0,NaN,...,81.0,67.0,1008.5,1007.8,NaN,7.0,23.4,26.4,NaN,0.0
444,2010-02-18,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43154,2010-07-31,Wollongong,13.7,20.7,NaN,NaN,NaN,W,61.0,NaN,...,NaN,38.0,1011.9,1011.2,NaN,NaN,NaN,19.7,NaN,0.0
43169,2010-08-15,Wollongong,11.8,20.3,NaN,NaN,NaN,WNW,65.0,NaN,...,58.0,40.0,1004.9,1003.1,NaN,NaN,14.8,18.8,NaN,0.0
43179,2010-08-25,Wollongong,10.4,16.6,NaN,NaN,NaN,WNW,69.0,NaN,...,34.0,25.0,1007.9,1005.3,NaN,NaN,13.1,16.1,NaN,0.0
43236,2010-10-21,Wollongong,NaN,20.5,NaN,NaN,NaN,NE,44.0,NNE,...,74.0,72.0,1025.9,1022.3,NaN,NaN,18.5,19.8,NaN,0.0
43283,2010-12-07,Wollongong,NaN,23.8,NaN,NaN,NaN,NE,33.0,NE,...,87.0,83.0,1016.8,1015.2,NaN,NaN,22.1,23.2,NaN,0.0

In [54]:
df[df["RainToday"].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
15,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0
284,2009-09-11,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1,NaN,0.0
436,2010-02-10,Albury,21.7,35.6,NaN,NaN,NaN,SSW,46.0,NaN,...,64.0,28.0,1018.8,1014.7,NaN,4.0,25.2,32.9,NaN,0.0
438,2010-02-12,Albury,22.5,29.1,NaN,NaN,NaN,SW,24.0,NaN,...,81.0,67.0,1008.5,1007.8,NaN,7.0,23.4,26.4,NaN,0.0
444,2010-02-18,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43154,2010-07-31,Wollongong,13.7,20.7,NaN,NaN,NaN,W,61.0,NaN,...,NaN,38.0,1011.9,1011.2,NaN,NaN,NaN,19.7,NaN,0.0
43169,2010-08-15,Wollongong,11.8,20.3,NaN,NaN,NaN,WNW,65.0,NaN,...,58.0,40.0,1004.9,1003.1,NaN,NaN,14.8,18.8,NaN,0.0
43179,2010-08-25,Wollongong,10.4,16.6,NaN,NaN,NaN,WNW,69.0,NaN,...,34.0,25.0,1007.9,1005.3,NaN,NaN,13.1,16.1,NaN,0.0
43236,2010-10-21,Wollongong,NaN,20.5,NaN,NaN,NaN,NE,44.0,NNE,...,74.0,72.0,1025.9,1022.3,NaN,NaN,18.5,19.8,NaN,0.0
43283,2010-12-07,Wollongong,NaN,23.8,NaN,NaN,NaN,NE,33.0,NE,...,87.0,83.0,1016.8,1015.2,NaN,NaN,22.1,23.2,NaN,0.0

In [55]:
df["RainToday"].mode()[0]

0.0

In [56]:
df["RainToday"]=df["RainToday"].fillna(df["RainToday"].mode()[0])

In [57]:
df.isnull().sum().sort_values(ascending=False)

Sunshine         25257
Evaporation      20245
Cloud3pm         16746
Cloud9am         16438
Pressure9am       6441
Pressure3pm       6432
WindGustDir       4714
WindGustSpeed     4710
WindDir9am        4471
WindDir3pm        1950
WindSpeed3pm      1305
Humidity3pm       1193
Temp3pm            969
WindSpeed9am       674
Rainfall           574
Humidity9am        531
MinTemp            361
Temp9am            305
MaxTemp            190
RainToday            0
Date                 0
Location             0
RainTomorrow         0
dtype: int64

In [58]:
df.shape

(42157, 23)

In [59]:
df=df[df.isnull().sum(axis=1)<6]

In [60]:
df.shape

(35382, 23)

In [61]:
cols = [
    'MinTemp',
    'MaxTemp',
    'Rainfall',
    'Evaporation',
    'Sunshine',
    'WindGustSpeed',
    'WindSpeed9am',
    'WindSpeed3pm',
    'Humidity9am',
    'Humidity3pm',
    'Pressure9am',
    'Pressure3pm',
    'Cloud9am',
    'Cloud3pm',
    'Temp9am',
    'Temp3pm'
]

In [62]:
for col in cols:
    df[col] = df[col].fillna(df[col].mean())

<ipython-input-62-310ac9b2d180>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].mean())

In [63]:
df["WindDir9am"].mode()[0]

'W'

In [64]:
cat_cols = ["WindDir9am", "WindDir3pm","WindGustDir"]

In [65]:
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode())

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35382 entries, 0 to 43369
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           35382 non-null  object
 1   Location       35382 non-null  object
 2   MinTemp        35382 non-null  float64
 3   MaxTemp        35382 non-null  float64
 4   Rainfall       35382 non-null  float64
 5   Evaporation    35382 non-null  float64
 6   Sunshine       35382 non-null  float64
 7   WindGustDir    34047 non-null  object
 8   WindGustSpeed  35382 non-null  float64
 9   WindDir9am     33309 non-null  object
 10  WindDir3pm     35186 non-null  object
 11  WindSpeed9am   35382 non-null  float64
 12  WindSpeed3pm   35382 non-null  float64
 13  Humidity9am    35382 non-null  float64
 14  Humidity3pm    35382 non-null  float64
 15  Pressure9am    35382 non-null  float64
 16  Pressure3pm    35382 non-null  float64
 17  Cloud9am       35382 non-null  float64
 18  Cloud3pm       35382 non-null  float64
 19  Temp9am        35382 non-null  float64
 20  Temp3pm        35382 non-null  float64
 21  RainToday      35382 non-null  float64
 22  RainTomorrow   35382 non-null  float64
dtypes: float64(18), object(5)
memory usage: 6.5+ MB

In [67]:
 df["Date"]=pd.to_datetime(df["Date"])

In [68]:
df["Day"]=df["Date"].dt.day

In [69]:
df["Year"]=df["Date"].dt.year

In [70]:
df["Month"]=df["Date"].dt.month

In [71]:
df.drop("Date",axis=1,inplace=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35382 entries, 0 to 43369
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       35382 non-null  object
 1   MinTemp        35382 non-null  float64
 2   MaxTemp        35382 non-null  float64
 3   Rainfall       35382 non-null  float64
 4   Evaporation    35382 non-null  float64
 5   Sunshine       35382 non-null  float64
 6   WindGustDir    34047 non-null  object
 7   WindGustSpeed  35382 non-null  float64
 8   WindDir9am     33309 non-null  object
 9   WindDir3pm     35186 non-null  object
 10  WindSpeed9am   35382 non-null  float64
 11  WindSpeed3pm   35382 non-null  float64
 12  Humidity9am    35382 non-null  float64
 13  Humidity3pm    35382 non-null  float64
 14  Pressure9am    35382 non-null  float64
 15  Pressure3pm    35382 non-null  float64
 16  Cloud9am       35382 non-null  float64
 17  Cloud3pm       35382 non-null  float64
 18  Temp9am        35382 non-null  float64
 19  Temp3pm        35382 non-null  float64
 20  RainToday      35382 non-null  float64
 21  RainTomorrow   35382 non-null  float64
 22  Day            35382 non-null  int32
 23  Year           35382 non-null  int32
 24  Month          35382 non-null  int32
dtypes: float64(18), int32(3), object(4)
memory usage: 6.6+ MB

In [74]:
dummy_cols=["Location","WindGustDir","WindDir9am","WindDir3pm","Year", "Month", "Day"]

In [75]:
for col in dummy_cols:
    dummies = pd.get_dummies(df[col],prefix=col,drop_first=True)
    df = pd.concat([df,dummies],axis=1)
    df = df.drop(col,axis=1)

In [76]:
df.corr()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,Day_22,Day_23,Day_24,Day_25,Day_26,Day_27,Day_28,Day_29,Day_30,Day_31
MinTemp,1.000000,0.662606,0.098668,0.298965,-0.045837,0.337220,0.262967,0.253986,-0.108372,0.172016,...,0.018891,0.018428,0.012339,-0.000491,0.006868,-0.002659,-0.005087,-0.009167,-0.014428,0.008264
MaxTemp,0.662606,1.000000,-0.095150,0.401237,0.252657,0.174154,-0.008841,0.044856,-0.384732,-0.434207,...,0.009005,0.014725,0.002363,-0.001028,-0.000363,-0.016673,-0.002284,-0.007379,-0.009823,0.010472
Rainfall,0.098668,-0.095150,1.000000,-0.022879,-0.197470,0.146444,0.139611,0.081354,0.249023,0.261189,...,0.009440,0.003656,-0.010291,0.000182,0.005662,-0.000856,-0.003582,0.004251,-0.014486,0.008014
Evaporation,0.298965,0.401237,-0.022879,1.000000,0.184160,0.159838,0.108260,0.076487,-0.302734,-0.232011,...,0.003034,0.002392,0.001024,0.000269,-0.003832,-0.005938,-0.007830,-0.012553,-0.002669,0.003882
Sunshine,-0.045837,0.252657,-0.197470,0.184160,1.000000,-0.045309,-0.034923,0.008528,-0.338832,-0.427170,...,-0.010685,-0.001047,-0.009670,-0.004182,-0.016575,-0.011327,-0.009486,0.001502,0.005189,0.004806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Day_27,-0.002659,-0.016673,-0.000856,-0.005938,-0.011327,-0.012220,0.005491,-0.008351,0.003438,0.010144,...,-0.033972,-0.033881,-0.033881,-0.033911,-0.033760,1.000000,-0.033790,-0.032840,-0.032543,-0.025811
Day_28,-0.005087,-0.002284,-0.003582,-0.007830,-0.009486,-0.026172,-0.013302,-0.021936,0.012164,0.005112,...,-0.033866,-0.033775,-0.033775,-0.033805,-0.033655,-0.033790,1.000000,-0.032737,-0.032442,-0.025730
Day_29,-0.009167,-0.007379,0.004251,-0.012553,0.001502,-0.010696,-0.007983,-0.000884,0.008238,0.005580,...,-0.032913,-0.032825,-0.032825,-0.032854,-0.032708,-0.032840,-0.032737,1.000000,-0.031529,-0.025006
Day_30,-0.014428,-0.009823,-0.014486,-0.002669,0.005189,-0.002805,-0.002711,-0.005420,0.005300,0.000534,...,-0.032616,-0.032529,-0.032529,-0.032558,-0.032413,-0.032543,-0.032442,-0.031529,1.000000,-0.024781
Day_31,0.008264,0.010472,0.008014,0.003882,0.004806,-0.006901,-0.002175,0.006754,0.003016,-0.004216,...,-0.025868,-0.025799,-0.025799,-0.025822,-0.025707,-0.025811,-0.025730,-0.025006,-0.024781,1.000000

In [ ]:
sns.countplot(df["RainTomorrow"])

In [ ]:
X=df.drop("RainTommorow",axis=1)
y=df[["RainTommorow"]]

In [ ]:
from sklearn.model_selection import test_train_split